<table>
    <thead>
        <th>Vardas</th>
        <th>Pavarde</th>
        <th>Adresas</th>
        <th>Telefonas</th>
        <th>E-mail</th>
    </thead>
    <tbody>
        <tr>
            <td>{{pirmas}}</td>
            <td>{{antras}}</td>
            <td>{{trecias}}</td>
            <td>{{ketvirtas}}</td>
            <td>{{penktas}}</td>
        </tr>
    </tbody>
</table>